.backgroundScroll {
	background-image: url(@assets/img/background.png);
	background-repeat: repeat;
	background-size: 500px;

	animation-name: background-scroll;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes background-scroll {
0% {
  background-position: 0px 0px;
}

100% {
  background-position: -500px -500px;
}
}