@import '@assets/fonts/Baba/Baba.css';
@import '@assets/fonts/Bababig/Bababig.css';

body {
  margin: 0;
  font-family: "Baba", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.error {
	color: #ff5555;
}

.success {
  color: #99ee55;
}

.info {
  color: #6699ff
}

.baba-button {
  background-color: #202850;
  border: #4759B1 4px solid;
  border-radius: 5px;

  color: white;
  font-family: "Baba";
  font-size: 20px;

  outline: none;
}

.baba-button:disabled {
  background-color: #434343;
  border-color: #737373;
}

.baba-button:hover:enabled {
  background-color: #4759B1;

  cursor: pointer;
}

.baba-button:active:enabled {
  background-color: #202850;
  border-color: #202850;
}

.baba-text-input {
  background-color: white;

  font-family: "Baba Mono";
  font-size: 20px;

  border: white 4px solid;
  border-radius: 5px;

  outline: none;
}

.baba-text-input:focus {
  background-color: #eeeeee;
  border-color: #eeeeee;
}